body{
    margin: auto;
}
#search{
    height:500px;
    width:100%;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 500px;
}

#quicksearch{
    height:500px;
    width:100%;
    border:5px solid red;
}

#login{
    height:40px;
    margin-left:85%;
    margin-top:1%;
    position:absolute;
}

.loginbutton{
    color:white;
    font-size:30px;
    text-decoration: none;

}